body {
  margin: 0;
  font-family: Garamond !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Garamond !important;
}

.formContainer {
  margin-top: 100px;
}
